.TextInput {
    /* width: 170px !important; */
    margin: auto;
    margin-top: 30px;
}

.Input {
    text-align: center;
}

.form-control:focus, .Input:focus {
    box-shadow: none !important;
    border: 1px solid #cf3721 !important;
}