.NavItem {
    list-style-type: none;
    margin: 10px 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #cec9c9;
    text-align: right;
    padding: 5px
}

.NavItem a {
    text-decoration: none;
    color: #333;
    width: 100%;
    font-size: 16px;
    display: block;
}

.NavItem a:hover {
    text-decoration: none;
    color: #fff;
}

@media (min-width: 500px) {
    .NavItem {
        height: 100%;
        text-align: right;
        border: none;
        width: auto;
    }
    
    .NavItem a {
        color: #fff;
        padding: 16px 22px;
        height: 100%;
    }
}