.NavItems {
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}

.NavItems a {
    display: inline-block !important;
    width: 100%;
}

.Button {
    width: 100%;
    padding: .6rem 0rem !important;
    background-color: #cf3721 !important;
    border: 1px solid #cf3721 !important;
    text-transform: uppercase;
}

@media (min-width: 500px) {
    .NavItems {
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
    }

    .ButtonLink {
        margin-left: 50px;
    }

    .Button {
        padding: .5rem 2.5rem !important;
    }
}