.CtaButton {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.HoverStyle {
    display: none;
}


.Button {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, .5);
    position: relative;
    z-index: 4;
}

.Button:hover {
    border-radius: 50%;
}



.CtaButton span {
    color: #fff;
    font-size: 1.2rem;
    width: 120px;
    margin-top: 10px;
    line-height: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    text-shadow: 2px 3px 5px #000000;
    position: relative;
    z-index: 5;
}

@media (min-width: 500px) {
    .Button {
        height: 100px;
        width: 100px;
    }

    .CtaButton span {
        font-size: 1.4rem;
        width: 150px;
        margin-top: 10px;
        line-height: 1.6rem;
    }

    .HoverPosition {
        position: relative;
    }
    
    .HoverPosition:hover >.HoverStyle rect {
        stroke-width: 2px;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash .8s linear forwards;
    }
    
    .HoverPosition:hover > .Button {
        box-shadow: 2px 6px 8px rgba(0, 0, 0, .8);
    }
    
    @keyframes dash {
        to {
            stroke-dashoffset: 0;
        }
    }
    
    .HoverStyle {
        display: block;
        position: absolute;
        top: -13.5px;
        /* bottom: 6.5px; */
        left: -12px;
        z-index: 1;
        /* right: 7.5px; */
    }
    
    .HoverStyle rect {
        stroke-width: 0px;
    }

    .CtaButton span:hover + .HoverPosition .HoverStyle rect {
        stroke-width: 2px;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash .8s linear forwards;
    }
}