.EmailSignUp {
    margin-top: -10px;
    margin-bottom: 40px;
    padding: 30px 20px;
    background-color: rgb(192, 192, 192);
    /* border-radius: 8px; */
    text-align: center;
}

.subscribeBtn {
    background-color: #cf3721 !important;
}

.SubscribeForm {
    margin-top: 15px;
}

@media (min-width: 500px) {
    .EmailSignUp {
        margin-top: 10px;
        margin-bottom: 40px;
        padding: 50px 40px;
        background-color: rgb(192, 192, 192);
        border-radius: 8px;
        text-align: left;
        
    }

    .SubscribeForm {
        padding-right: 10px;
    }
}