.ProgressBar {
    counter-reset: step;
    overflow: hidden;
    margin-top: 80px;
}

.ProgressBar li {
    list-style-type: none;
    color: #CACACA;
    text-transform: uppercase;
    font-size: 8px;
    width: 25%;
    float: left;
    position: relative;
    left: -8%;
}

.ProgressBar li:before {
    width: 20px;
    content: counter(step);
    counter-increment: step;
    line-height: 20px;
    display: block;
    font-size: 11px;
    color: white;
    background-color: #CACACA;
    border-radius: 50%;
    margin: 0 auto 5px auto;
    position: relative;
    z-index: 3;
}

.ProgressBar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #CACACA;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: 1;
}

.ProgressBar li:first-child:after {
    content: none;
}

.ProgressBar li.active {
    color: #cf3721;
}

.ProgressBar li.active:before,  .ProgressBar li.active:after{
	background-color: #cf3721;
	color: white;
}

@media (min-width: 500px) {
    .ProgressBar li {
        width: 15%;
        left: 18%;
        font-size: 10px;
    }
}