.Banner {
    min-height: 280px;
    position: relative;
    background: url(../../assets/fruits.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    vertical-align: text-bottom
}

.DarkOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    padding-top: 1.8rem;
}

.ctaButton {
    background-color: #cf3721 !important;
    border: 1px solid #cf3721 !important;
    margin-top: 15px;
    padding: .5rem 1.5rem !important;
}


@media (min-width: 500px) {
    .DarkOverlay {
        padding-top: 3.2rem;
    }

    .ctaButton {
        margin-top: 20px;
        padding: .75rem 2.5rem !important;
        font-size: 1.1rem;
    }
}